---
---

html {
  font-size: 16px;
  font-family: Lato, arial, sans-serif;
}

body {
  display: grid;
  grid-auto-rows: min-content auto min-content;
  
  height: 100vh;
  margin: 0;
  padding: 0 1rem;
}

header, main, footer {
  width: 100vw;
  max-width: 1280px;
}

header {
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding: 1rem 0;
  
  > img {
    height: auto;
    width: 30%;
    max-width: 300px;
    min-width: 150px;
  }
}

nav {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  
  @media (max-width: 900px) {
    gap: 0;
  }
  
  > a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
    padding: 1rem;
    border-radius: 3px 3px 0 0;
    
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out, text-shadow 300ms ease-in-out;
    
    @media (max-width: 900px) {
      width: 100%;
    }
    
    &[aria-current=page] {
      border-bottom: 2px solid rgba(0,0,0,75%);
    }
    
    &:hover {
      color: #fff;
      text-shadow: 0 0 4px rgba(0,0,0,75%);
    }
    
    &:nth-child(1):hover {
      background-color: #fd5a59;
    }
    
    &:nth-child(2):hover {
      background-color: #fdd654;
    }
    
    &:nth-child(3):hover {
      background-color: #3bf642;
    }
    
    &:nth-child(4):hover {
      background-color: #40fffa;
    }
    
    &:nth-child(5):hover {
      background-color: #395bfa;
    }
    
    &:nth-child(6):hover {
      background-color: #f038ee;
    }
  }
}

footer {
 padding: 1rem 0; 
}
