---
---

html {
  font-size: 16px;
  font-family: Lato, arial, sans-serif;
}

body {
  display: grid;
  justify-content: center;
  grid-auto-rows: min-content auto min-content;
  
  height: 100vh;
  margin: 0;
  padding: 0 1rem;
}

header, main, footer {
  width: 100vw;
  max-width: 1280px;
}

header {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

nav {
  display: flex;
  gap: 1rem;
}

footer {
 padding: 1rem 0; 
}
