<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/styles/main.css">
    {% seo %}
  </head>
  <body>
    <header>
      <img src="assets/images/logo.png" width="300" height="300" />
      <nav>
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if page.url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
        {% endfor %}
        <section class="quick-links">
          <a href="mailto:Info@bossypawsrescue.org"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>Email</title>
            <path fill="#000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
          </svg></a>
          <a href="https://www.facebook.com/bossypawsrescueinc/"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>Facebook</title>
            <path fill="#1877F2" d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
          </svg></a>
        </section>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      Copyright © 2022 Bossy Paws Rescue - All Rights Reserved.
    </footer>
  </body>
</html>
