<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/styles/main.css">
    {% seo %}
  </head>
  <body>
    <header>
      <img src="assets/images/logo.png" width="300" height="300" />
      <nav>
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if page.url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
        {% endfor %}
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      Copyright © 2022 Bossy Paws Rescue - All Rights Reserved.
    </footer>
  </body>
</html>
