<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/styles/main.css">
    {% seo %}
  </head>
  <body>
    <header>
      <img src="assets/images/logo.png" width="300" height="300" />
      <nav>
        <a href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a>
        <a href="/contact-us">Contact Us</a>
        <a href="/available-bossy-paws">Available Bossy Paws</a>
        <a href="/forms">Forms</a>
        <a href="/partners-friends">Partners & Friends</a>
        <a href="/events">Events</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      COPYRIGHT © 2021 BOSSY PAWS RESCUE - ALL RIGHTS RESERVED.
    </footer>
  </body>
</html>
